<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SomerenDatabase" connectionString="Data Source=den1.mssql8.gear.host;&#xD;&#xA;         Initial Catalog=pdbe37; User=pdbe37; Password=Az00??bpLctQ" />
    <add name="SomerenUI.Properties.Settings.pdbe37ConnectionString"
      connectionString="Data Source=den1.mssql8.gear.host;Initial Catalog=pdbe37;Persist Security Info=True;User ID=pdbe37;Password=Az00??bpLctQ"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
